.input-wrapper{
    display: flex;
    height: 10em;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
}
.result{
    flex: 1;
    font-size: 16px;
}
.text{
    flex: 1;
    font-size: 18px;
}