body{
  background-color: black;
 padding: 45px; 
}
.App {
  display: flex;
 justify-content: center;
 align-items: center;
}
.calc-wrapper{
  background-color: white;
  width: 350px;
  border-radius: 16px;
}

.row{
  display: flex;
}